/* reset of css */
/* line 2, ../sass/helpers/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../sass/helpers/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/helpers/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../sass/helpers/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/helpers/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/helpers/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../sass/helpers/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset of css */
/* line 3, ../sass/helpers/_placeholders.scss */
.header, .side-nav {
  position: fixed;
}

/* line 7, ../sass/helpers/_placeholders.scss */
.log-in {
  position: absolute;
}

/* line 11, ../sass/helpers/_placeholders.scss */
.header-logo-div, .header-logo, .join, .join-img, .introduction, .core, .game-text, .social-text, .expert-text, .game-img, .social-img, .expert-img, .form, .contact-us {
  position: relative;
}

/* line 15, ../sass/helpers/_placeholders.scss */
.header, .join, .introduction, .core, .form {
  width: 100%;
}

/* line 19, ../sass/helpers/_placeholders.scss */
.header-logo-div, .header-logo, .join-img, .game, .social, .expert {
  height: 100%;
}

/* line 23, ../sass/helpers/_placeholders.scss */
.side-nav {
  top: 93px;
}

/* line 27, ../sass/helpers/_placeholders.scss */
.side-nav, .join-text, .join-button, .introduction, .core, .form, .contact-us {
  text-align: center;
}

/* line 31, ../sass/helpers/_placeholders.scss */
.users-text p, .introduction-text p {
  font-weight: bold;
}

/* line 55, ../sass/helpers/_placeholders.scss */
.header-logo, .join-img, .game-img, .social-img, .expert-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 3, ../sass/helpers/_default.scss */
body {
  font-family: Exo;
}

/* header bar */
/* line 5, ../sass/components/_header.scss */
.header {
  top: 0;
  z-index: 5;
  height: 93px;
  background-color: rgba(255, 255, 255, 0.98);
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
  box-shadow: 0 1px 5px rgba(50, 50, 50, 0.5);
}

/* line 17, ../sass/components/_header.scss */
.header-logo-div {
  width: 250px;
  margin: 0 auto;
}

/* line 23, ../sass/components/_header.scss */
.header-logo {
  background-image: url("../images/Logo.png");
  background-size: 100%;
}

/* line 30, ../sass/components/_header.scss */
.log-in {
  top: 30%;
  right: 3%;
  border-style: solid;
  border-color: #0e579b;
  border-width: thin;
  padding: 10px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  transition-duration: 0.3s;
}
/* line 40, ../sass/components/_header.scss */
.log-in:hover {
  text-decoration: none;
  background-color: #0e579b;
  color: white;
  transition-duration: 0.3s;
}

/* end of header bar */
/* side-nav */
/* line 5, ../sass/components/_side-nav.scss */
.side-nav {
  height: 500px;
  width: 20px;
  z-index: 2;
}
/* line 13, ../sass/components/_side-nav.scss */
.side-nav ul {
  list-style: disc;
}
/* line 17, ../sass/components/_side-nav.scss */
.side-nav a {
  width: 10px;
}

/* end of side-nav */
/* join */
/* line 5, ../sass/components/_join.scss */
.join {
  margin-top: 93px;
  height: 560px;
  background-color: #0e579b;
  color: white;
}

/* line 16, ../sass/components/_join.scss */
.welcome-text {
  margin-top: 64px;
}
/* line 18, ../sass/components/_join.scss */
.welcome-text p {
  line-height: 120%;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  /* line 18, ../sass/components/_join.scss */
  .welcome-text p {
    font-size: 38px;
  }
}

/* line 29, ../sass/components/_join.scss */
.users-text p {
  line-height: 120%;
  font-size: 24px;
}
/* line 33, ../sass/components/_join.scss */
.users-text p .users-num {
  line-height: 130%;
  font-size: 100px;
}

/* line 39, ../sass/components/_join.scss */
.join-button {
  width: 96px;
  height: 40px;
  padding: 8px;
  text-decoration: none;
  background-color: #0a3f70;
  color: white;
  font-size: 24px;
  border: solid;
  border-color: #0a3f70;
  border-width: 1px;
  transition-duration: 0.3s;
}
/* line 52, ../sass/components/_join.scss */
.join-button:hover {
  color: #0a3f70;
  background-color: white;
  transition-duration: 0.3s;
}

/* line 58, ../sass/components/_join.scss */
.join-button.btn {
  line-height: 1;
}

/* line 61, ../sass/components/_join.scss */
.join-img {
  float: right;
  background-image: url("../images/join.png");
  opacity: 0.9;
}

/* end of join */
/* introduction */
/* line 11, ../sass/components/_introduction.scss */
.introduction-text {
  margin: 40px 25px;
  line-height: 1.2;
}
/* line 15, ../sass/components/_introduction.scss */
.introduction-text p {
  padding-bottom: 6px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}

/* end of introduction */
/* core */
/* line 5, ../sass/components/_core.scss */
.core {
  background-color: #ff9300;
  color: white;
}

/* line 12, ../sass/components/_core.scss */
.core.row {
  margin: 0;
}

/* line 17, ../sass/components/_core.scss */
.game h1, .social h1, .expert h1 {
  font-size: 180%;
  padding-bottom: 20px;
}
/* line 21, ../sass/components/_core.scss */
.game p, .social p, .expert p {
  font-size: 120%;
  padding-bottom: 6px;
}

/* line 26, ../sass/components/_core.scss */
.game-text, .social-text, .expert-text {
  margin-bottom: 30px;
}

/* line 30, ../sass/components/_core.scss */
.game-img, .social-img, .expert-img {
  background-size: 35%;
  height: 200px;
}

/* line 36, ../sass/components/_core.scss */
.game-img {
  background-image: url("../images/game.png");
}

/* line 39, ../sass/components/_core.scss */
.social-img {
  background-image: url("../images/social.png");
}

/* line 42, ../sass/components/_core.scss */
.expert-img {
  background-image: url("../images/expert.png");
}

/* end of core */
/* form */
/* line 5, ../sass/components/_form.scss */
.form {
  height: 750px;
  background-color: #fbc02c;
  color: white;
}

/* line 13, ../sass/components/_form.scss */
.form-text {
  padding: 30px 25px;
}
/* line 15, ../sass/components/_form.scss */
.form-text p {
  padding-bottom: 5px;
  font-size: 30px;
}

/* line 20, ../sass/components/_form.scss */
.typeform-div {
  height: 50%;
  margin: 0 25px;
}

/* end of form */
/* contact-us */
/* line 5, ../sass/components/_contact-us.scss */
.contact-us {
  padding-bottom: 15px;
  background-color: #cfd8dc;
  color: rgba(0, 0, 0, 0.8);
}

/* line 12, ../sass/components/_contact-us.scss */
.contact-us-content {
  padding-top: 20px;
}
/* line 14, ../sass/components/_contact-us.scss */
.contact-us-content h1 {
  line-height: 1.8;
  font-size: 30px;
}
@media screen and (max-width: 435px) {
  /* line 12, ../sass/components/_contact-us.scss */
  .contact-us-content {
    padding-top: 50px;
  }
}

/* line 23, ../sass/components/_contact-us.scss */
.contact-us-img img {
  height: 60px;
  transition-timing-function: ease-in;
  transition: 0.2s;
}
/* line 28, ../sass/components/_contact-us.scss */
.contact-us-img img:hover {
  transform: scale(1.2) translateY(-10px);
  transition: 0.2s;
}

/* line 34, ../sass/components/_contact-us.scss */
.copyright {
  padding-top: 20px;
  color: #b4b4b4;
}

/* end of contact-us*/
