/* reset of css */
/* line 2, ../sass/helpers/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../sass/helpers/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/helpers/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../sass/helpers/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/helpers/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/helpers/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../sass/helpers/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset of css */
/* line 1, ../sass/helpers/_placeholders.scss */
.header {
  position: fixed;
}

/* line 9, ../sass/helpers/_placeholders.scss */
.header-logo-div, .header-logo, .join, .join-button a, .join-img, .introduction, .core, .game-img, .game-text, .social-img, .social-text, .expert-img, .expert-text, .form, .contact-us {
  position: relative;
}

/* line 13, ../sass/helpers/_placeholders.scss */
.header, .form {
  width: 100%;
}

/* line 17, ../sass/helpers/_placeholders.scss */
.header-logo-div, .header-logo, .join-img, .game, .social, .expert {
  height: 100%;
}

/* line 21, ../sass/helpers/_placeholders.scss */
.join-text, .join-button, .introduction, .core, .form, .contact-us {
  text-align: center;
}

/* line 25, ../sass/helpers/_placeholders.scss */
.welcome-text p {
  font-weight: bold;
}

/* line 37, ../sass/helpers/_placeholders.scss */
body {
  font-family: 'Trebuchet MS';
}

/* line 41, ../sass/helpers/_placeholders.scss */
.welcome-text p, .users-text p {
  font-family: Verdana;
}

/* line 49, ../sass/helpers/_placeholders.scss */
.header-logo, .join-img, .game-img, .social-img, .expert-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* header bar */
/* line 5, ../sass/components/_header.scss */
.header {
  top: 0;
  z-index: 2;
  height: 14.8vh;
  background-color: white;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
}

/* line 16, ../sass/components/_header.scss */
.header-logo-div {
  width: 200px;
  margin: 0 auto;
}

/* line 22, ../sass/components/_header.scss */
.header-logo {
  top: 15px;
  background-image: url("../images/Logo.png");
  background-size: 120%;
}

/* end of header bar */
/* join */
/* line 5, ../sass/components/_join.scss */
.join {
  height: 560px;
  margin-top: 14.8vh;
  background-color: #0e579b;
  color: white;
}

/* line 15, ../sass/components/_join.scss */
.welcome-text {
  margin-top: 64px;
}
/* line 17, ../sass/components/_join.scss */
.welcome-text p {
  line-height: 120%;
  font-size: 40px;
}

/* line 24, ../sass/components/_join.scss */
.users-text {
  margin-top: 2.5vw;
}
/* line 26, ../sass/components/_join.scss */
.users-text p {
  line-height: 120%;
  font-size: 24px;
}
/* line 30, ../sass/components/_join.scss */
.users-text p .users-num {
  line-height: 130%;
  font-size: 100px;
}

/* line 36, ../sass/components/_join.scss */
.join-button {
  width: 96px;
  height: 40px;
  margin: 0 auto;
  margin-top: 2.5vw;
  background-color: #0a3f70;
}
/* line 44, ../sass/components/_join.scss */
.join-button a {
  top: 10px;
  color: white;
  text-decoration: none;
}

/* line 52, ../sass/components/_join.scss */
.join-img {
  float: right;
  background-image: url("../images/join.png");
  opacity: 0.9;
}

/* end of join */
/* introduction */
/* line 10, ../sass/components/_introduction.scss */
.introduction-text {
  margin: 40px 0;
}
/* line 13, ../sass/components/_introduction.scss */
.introduction-text p {
  padding-bottom: 6px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

/* end of introduction */
/* core */
/* line 5, ../sass/components/_core.scss */
.core {
  background-color: #ff9300;
  color: white;
}

/* line 11, ../sass/components/_core.scss */
.game, .social, .expert {
  border-bottom-style: solid;
}
/* line 14, ../sass/components/_core.scss */
.game h1, .social h1, .expert h1 {
  font-size: 180%;
  padding-bottom: 20px;
}
/* line 18, ../sass/components/_core.scss */
.game p, .social p, .expert p {
  font-size: 120%;
  padding-bottom: 6px;
}

/* line 23, ../sass/components/_core.scss */
.game-img, .social-img, .expert-img {
  background-size: 35%;
  height: 290px;
}

/* line 27, ../sass/components/_core.scss */
.game-img {
  background-image: url("../images/game.png");
}

/* line 35, ../sass/components/_core.scss */
.social-img {
  background-image: url("../images/social.png");
}

/* line 43, ../sass/components/_core.scss */
.expert-img {
  background-image: url("../images/expert.png");
}

/* end of core */
/* form */
/* line 5, ../sass/components/_form.scss */
.form {
  height: 750px;
  background-color: #fbc02c;
  color: white;
}

/* line 13, ../sass/components/_form.scss */
.form-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 17, ../sass/components/_form.scss */
.form-text p {
  padding-bottom: 5px;
  font-size: 30px;
}

/* end of form */
/* contact-us */
/* line 5, ../sass/components/_contact-us.scss */
.contact-us {
  height: 200px;
  background-color: #cfd8dc;
  color: rgba(0, 0, 0, 0.8);
}

/* line 13, ../sass/components/_contact-us.scss */
.contact-us-text h1 {
  padding: 20px 0;
  font-size: 30px;
}

/* end of contact-us*/
