@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* core */
.core {
    @extend %relative;
    @extend %as_wide_as_parent;
    @extend %text_center;
    background-color: #ff9300;
    color: white;
}
.core.row {
    margin: 0;
}
    .game, .social, .expert {
        @extend %as_tall_as_parent;
        h1 {
            font-size: 180%;
            padding-bottom: 20px;
        }
        p {
            font-size: 120%;
            padding-bottom: 6px;
        }
    }
    .game-text, .social-text, .expert-text {
        @extend %relative;
    }
    .game-img, .social-img, .expert-img {
        @extend %relative;
        @extend %background_img_setting;
        background-size: 35%;
        height: 290px;
    }
    .game-img {
        @include background_img_content(game);
    }
    .social-img {
        @include background_img_content(social);
    }
    .expert-img {
        @include background_img_content(expert);
    }

/* end of core */