@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* core */
.core {
    @extend %relative;
    @extend %as_wide_as_parent;
    @extend %text_center;
    background-color: #ff9300;
    color: white;
}
.core.row {
    margin: 0;
}
    .game, .social, .expert {
        @extend %as_tall_as_parent;
    }
    .game-text, .social-text, .expert-text {
        @extend %relative;
        margin-bottom: 30px;
        line-height: 1.3;
        @extend %bold_font;

        .core-text-title {
            @extend %font_Exo2;
            font-size: $core-text-title_font-size;
            padding-bottom: 20px;
        }
        .core-text-content {
            font-size: $core-text-content_font-size_desktop;
            padding-bottom: 6px;
            @media screen and (max-width: $bt_xs_width) {
                font-size: $core-text-content_font-size_mobile;
            }
        }
    }
    .game-img, .social-img, .expert-img {
        @extend %relative;
        @extend %background_img_setting;
        background-size: 35%;
        height: 200px;
    }
    .game-img {
        @include background_img_content(game);
    }
    .social-img {
        @include background_img_content(social);
    }
    .expert-img {
        @include background_img_content(expert);
    }

/* end of core */