@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* form */
.form {
    @extend %relative;
    @extend %as_wide_as_parent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(182,188,193);
    @extend %text_center;
    margin-top: $header_bar_height;

    h1 {
        padding: 35px 0;
        @extend %Josefin-Sans-font;
        font-size: xx-large;
    }
}
/* end of form */