@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* goal */
.goal {
    @extend %relative;
    height: 500px;
    @extend %text_center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(182,188,193);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(182,188,193);
    background-color: #5aabe0;
    color: white;

    p {
        padding: 100px 0;
        font-size: 150%;
    }
}
/* end of goal */