@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* goal */
.goal {
    @extend %relative;
    @extend %text_center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(182,188,193);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(182,188,193);

    h1 {
        padding: 35px 0;
        @extend %Josefin-Sans-font;
        font-size: x-large;
    }
}
/* end of goal */