@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* header bar */
.header {
    @extend %fixed;
    top: 0;
    z-index: 2;
    @extend %as_wide_as_parent;
    height: $header_bar_height;
    background-color: white;
    border-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f5f5f5;
}
    .header-logo-div {
        @extend %relative;
        @extend %as_tall_as_parent;
        width: $header_bar_logo_width;
        margin: 0 auto;
    }
        .header-logo {
            @extend %relative;
            top: 15px;
            @extend %as_tall_as_parent;
            @include background_img_content(Logo);
            @extend %background_img_setting;
            background-size: 120%;
        }
/* end of header bar */