@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* header bar */
.header {
    @extend %fixed;
    top: 0;
    z-index: 2;
    @extend %as_wide_as_parent;
    height: $header_bar_height;
    background-color: white;
}
    .header-logo-div {
        @extend %relative;
        display: inline-block;
        @extend %as_tall_as_parent;
        width: 250px;
    }
        .header-logo {
            @extend %relative;
            display: inline-block;
            @extend %as_wide_as_parent;
            @extend %as_tall_as_parent;
            z-index: 3;
            padding-top: 30px;
            @include background_img_content(Logo);
            @extend %background_img_setting;
            background-size: 100%;
        }
/* end of header bar */