@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* introduction */
.introduction {
    @extend %relative;
    @extend %as_wide_as_parent;
    @extend %anchor-offset;
    @extend %text_center;
}

    .introduction-text {
        margin: $introduction_padding_y 25px;
        line-height: 1.2;

        p {
            padding-bottom: $introduction-text_padding_bottom;
            font-size: $introduction-text_font_size;
            color: rgba(0,0,0,0.8);
            @extend %bold_font;
        }
    }
/* end of introduction */