@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* introduction */
.introduction {
    @extend %relative;
    @extend %as_wide_as_parent;
    @extend %text_center;
}

    .introduction-text {
        padding: $introduction_padding_y $padding_x;
        line-height: 1.2;
        @extend %bold_font;
    }
        .introduction-text-title {
            padding-bottom: $introduction-text-title_padding-bottom;
            font-size: $introduction-text-title_font_size;
            color: $black;
        }
        .introduction-text-content {
            font-size: $introduction-text-content_font_size_desktop;
            color: gray;
            @media screen and (max-width: $bt_xs_width) {
                font-size: $introduction-text-content_font-size_mobile;
            }
        }
/* end of introduction */