@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* join */
.join {
    @extend %relative;
    @extend %as_wide_as_parent;
    height: $join_page_height;
    margin-top: $header_bar_height;
    background-color: $blue;
    color: white;
}
    .join-text {
        @extend %text_center;
    }
        .welcome-text {
            margin-top: $join_text_from_top;
            p {
                line-height: 120%;
                @extend %Verdana_font;
                @extend %bold_font;
                font-size: $join_text_large_screen_font_size;
                @media screen and (max-width: $bt_xs_width) {
                    font-size: $join_text_small_screen_font_size;
                }
            }
        }
        .users-text {
            p {
                line-height: 120%;
                @extend %Verdana_font;
                font-size: $users_text_font_size;
                .users-num {
                    line-height: 130%;
                    font-size: $users_num_font_size;
                }
            }
        }
        .join-button {
            width: $button_width;
            height: $button_height;
            margin: 0 auto;
            margin-bottom: 20px;
            @extend %text_center;
            background-color: #0a3f70;

            a {
                @extend %relative;
                color: white;
                text-decoration: none;
            }
        }

    .join-img {
        @extend %relative;
        float: right;
        @extend %as_tall_as_parent;
        @extend %background_img_setting;
        @include background_img_content(join);
        opacity: 0.9;
    }
/* end of join */