@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
/* join */
.join {
    @extend %relative;
    @extend %as_wide_as_parent;
    margin-top: $header_bar_height;
    height: $join-page_height;
    background-color: $deep_blue;
    color: white;
}
    .join-text {
        @extend %text_center;
    }
        .welcome-text {
            margin-top: $join-text_from_top;
            p {
                line-height: 120%;
                font-family: "Exo 2";
                font-weight: 600;
                font-size: $join-text_large_screen_font_size;
                @media screen and (max-width: $bt_xs_width) {
                    font-size: $join-text_small_screen_font_size;
                }
            }
        }
        .users-text {
            p {
                line-height: 120%;
                font-size: $users-text_font_size;
                @extend %bold_font;
                .users-num {
                    line-height: 130%;
                    font-size: $users-num_font_size;
                }
            }
        }
        .join-button {
            width: $button_width;
            height: $button_height;
            padding: 8px;
            @extend %text_center;
            text-decoration: none;
            background-color: $deep_blue;
            color: white;
            font-size: $button_font_size;
            border: solid;
            border-color: $deep_blue;
            border-width: 1px;
            transition-duration: 0.3s;
            &:hover {
                color: $deep_blue;
                background-color: white;
                transition-duration: 0.3s;
            }
        }
        .join-button.btn {
            line-height: 1;
        }
    .join-img {
        @extend %relative;
        float: right;
        @extend %as_tall_as_parent;
        @extend %background_img_setting;
        @include background_img_content(join);
        opacity: 0.9;
    }
/* end of join */