@import "helpers/variables";

%fixed {
    position: fixed;
}

%absolute {
    position: absolute;
}

%relative {
    position: relative;
}

%as_wide_as_parent {
    width: 100%;
}

%as_tall_as_parent {
    height: 100%;
}

%anchor-offset {
    top: $header_bar_height;
}

%text_center {
    text-align: center;
}

%bold_font {
    font-weight: bold;
}

%arial_font {
    font-family: arial;
}

%Josefin-Sans_font {
    font-family: Josefin Sans;
}

%Trebuchet_font {
    font-family: 'Trebuchet MS';
}

%Verdana_font {
    font-family: Verdana;
}

%round_border {
    border-radius: 50%;
}

%background_img_setting {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

%card_background {
    background-color: white;
}