// 1 em = 16px
// 1 cm = 40px = 2.5em

// screen width
$iphone6_width: 375px;
$Nexus_6p_width: 435px;
$bt_xs_width: 768px;

// color
$blue: rgba(14, 87, 155, 0.9);
$deep_blue: rgba(10, 63, 112, 1);

// headerbar 
$header_bar_height: 93px; // 2.2cm
$header_bar_logo_width: 200px;

// join
$join_page_height: 560px;
$join_text_from_top: 64px; // 1.6 cm
$join_text_from_left: 120px; // 3 cm
$join_text_large_screen_font_size: 40px;
$join_text_small_screen_font_size: 38px;

$users_text_from_top: 240px; // 6 cm
$users_text_from_left: 200px; // 5 cm
$users_text_font_size: 24px;
$users_num_font_size: 100px;

$button_from_top: 440px; // 11cm
$button_from_left: 280px; // 7cm
$button_width: 96px;// 2.4 cm
$button_height: 40px;// 1 cm

// introduction 
$introduction_page_height: 172px; // 4.3 cm
$introduction_padding_y: 40px; // 1 cm
$introduction_text_padding_bottom: 6px; // 0.5 cm
$introduction_text_font_size: 30px; //150%;

// form
$form_page_height: 750px;
$form_text_font-size: 30px;

// contact-us
$contact-us_page_height: 200px;
$contact-us_large_screen_padding_top: 30px;
$contact-us_small_screen_padding_top: 50px;
$contact-us_padding_bottom: 20px;
$contact-us_text_font-size: 30px;