// 1 cm = 40px

// headerbar 
$header_bar_height: 88px; // 2.2cm

// join
$text-from-top: 64px; // 1.6 cm
$text-from-left: 120px; // 3 cm
$users-from-top: 240px; // 6 cm
$users-from-left: 200px; // 5 cm
$button-from-top: 440px; // 11cm
$button-from-left: 280px; // 7cm
$button-width: 96px;// 2.4 cm
$button-height: 40px;// 1 cm

// introduction 
$introduction_page_height: 172px; // 4.3 cm
$introduction_padding_y: 40px; // 1 cm
$introduction_text_padding_bottom: 6px; // 0.5 cm